html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;

}

h1 {
    font-size: 90px;
    font-family: 'Roboto', sans-serif;
}
.title {
    margin-top: 100px;
}
.page-logout-area {
    position: fixed;
    top: 3%;
    right: 0;
    left: 96%;
}
.page-list-area {
    position: fixed;
    top: 12%;
    right: 0;
    left: 18%;
    z-index: 1040;
    width: 100%;
    height: 100%;
    color: #686868;
    border-bottom: 0 !important;
    background-color: #FFFFFF !important;
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
}
.page-people-area {
    background-color: #030304;
    position: fixed;
    top: 20%;
    right: 0;
    left: 0;
    z-index: 1040;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 12px;
}
.page-table-area {
    position: fixed;
    top: 12%;
    right: 0;
    left: 18%;
    z-index: 1040;
    width: 42%;
    height: 80%;
    color: #686868;
    border-left: 0 !important;
}
.page-search-area {
    position: fixed;
    top: 12.5%;
    right: 0;
    left: 60.5%;
    z-index: 1040;
    width: 28%;
    height: 10%;
    color: blue;
}
.page-button-area {
    position: fixed;
    top: 12.5%;
    right: 0;
    left: 89%;
    z-index: 1040;
    width: 100%;
    height: 10%;
}
.phonebook {
    font-size: 14px;
}
.modal-header {
    background-color: #89898B;
}
.modal-body {
    background-color: #F5F5F7;
    padding:25px;
}
#addModal, #updateModal,#deleteModal {
    position: fixed;
    left: 67%;
    width: 24%;
}
.page-phonebook-area {
    background-color: transparent;
    position: fixed;
    top: 24.6%;
    right: 0;
    left: 0;
    z-index: 1040;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.page-people-item {
    color: #FFFFFF;
    outline: none;
    text-decoration-line: none;
    text-align: center;
}
body {
    margin-bottom: 60px;
    background-color: #303641;
    color: #FFFFFF;
}
.table-title {
    color: #686868;
    background-color: #EBEDF3 !important; 
}
.table-contact {
    color: #686868;
}
.contact-td1{
    text-align:center;
}
.contact-td4 {
    display: none;
}
.contact-checkbox {
    transform: scale(1.2);
    background-color: #F7F7FA;
    border-color: #F7F7FA;
}
.pagination-page {
    position: fixed;
    bottom: 0%;
    margin-bottom: 1%;
    margin-left: 10%;
}
#content {
    display: none;
}

.preload {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 45%;
    left: 45%;
}